@model IEnumerable<StudentAttendanceSystemGW.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { controller = "Students" }, new { @class = "btn btn-info" })

</p>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdmittedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdmittedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
            @Html.ActionLink("Attendance Summary", "AttendanceSummary", new { id = item.StudentId }) |
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
    @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })

                }
            }
            </td>
    </tr>
}

</table>
